.icon {
  &__micro {
    font-size: 0.3rem;
  }

  &__small {
    font-size: 0.5rem;
  }

  &__medium {
    font-size: 1rem;
  }

  &__large {
    font-size: 2rem;
  }

  &__huge {
    font-size: 4rem;
  }
}
