@import '../../../styles/variables/colors';
@import '../../../styles/variables/animations';

.loading {
  align-items: center;
  background-color: $transparent-white7;
  display: none;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;

  &--active {
    display: flex;
    height: 100vh;
    width: 100vw;
  }

  &--spinner {
    animation: $rotate;
  }
}
