@import './utils/normalize';
@import './fonts/open-sans';
@import './fonts/icomoon';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', -apple-system, 'Helvetica Neue', sans-serif;
}