@font-face {
  font-family: 'icomoon';
  src: url('/fonts/icomoon.eot?x2837k');
  src: url('/fonts/icomoon.eot?x2837k#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?x2837k') format('truetype'),
    url('/fonts/icomoon.woff?x2837k') format('woff'),
    url('/fonts/icomoon.svg?x2837k#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: '\e902';
}
.icon-pencil:before {
  content: '\e905';
}
.icon-image:before {
  content: '\e90d';
}
.icon-images:before {
  content: '\e90e';
}
.icon-camera:before {
  content: '\e90f';
}
.icon-file-empty:before {
  content: '\e924';
}
.icon-file-picture:before {
  content: '\e927';
}
.icon-cart:before {
  content: '\e93a';
}
.icon-credit-card:before {
  content: '\e93f';
}
.icon-phone:before {
  content: '\e942';
}
.icon-envelop:before {
  content: '\e945';
}
.icon-clock:before {
  content: '\e94e';
}
.icon-bell:before {
  content: '\e951';
}
.icon-drawer:before {
  content: '\e95c';
}
.icon-drawer-alt:before {
  content: '\e95d';
}
.icon-floppy-disk:before {
  content: '\e962';
}
.icon-user:before {
  content: '\e971';
}
.icon-spinner:before {
  content: '\e97a';
}
.icon-spinner-alt:before {
  content: '\e97b';
}
.icon-search:before {
  content: '\e986';
}
.icon-zoom-in:before {
  content: '\e987';
}
.icon-zoom-out:before {
  content: '\e988';
}
.icon-key:before {
  content: '\e98d';
}
.icon-bin:before {
  content: '\e9ad';
}
.icon-truck:before {
  content: '\e9b0';
}
.icon-menu:before {
  content: '\e9bd';
}
.icon-eye:before {
  content: '\e9ce';
}
.icon-star-empty:before {
  content: '\e9d7';
}
.icon-star-full:before {
  content: '\e9d9';
}
.icon-heart:before {
  content: '\e9da';
}
.icon-plus:before {
  content: '\ea0a';
}
.icon-minus:before {
  content: '\ea0b';
}
.icon-cross:before {
  content: '\ea0f';
}
.icon-checkmark:before {
  content: '\ea10';
}
.icon-checkmark-alt:before {
  content: '\ea11';
}
.icon-circle-up:before {
  content: '\ea41';
}
.icon-circle-right:before {
  content: '\ea42';
}
.icon-circle-down:before {
  content: '\ea43';
}
.icon-circle-left:before {
  content: '\ea44';
}
.icon-checkbox-checked:before {
  content: '\ea52';
}
.icon-checkbox-unchecked:before {
  content: '\ea53';
}
.icon-radio-checked:before {
  content: '\ea54';
}
.icon-radio-checked-alt:before {
  content: '\ea55';
}
.icon-radio-unchecked:before {
  content: '\ea56';
}
.icon-facebook:before {
  content: '\ea91';
}
.icon-instagram:before {
  content: '\ea92';
}
.icon-whatsapp:before {
  content: '\ea93';
}
