.overlay {
  display: none;

  &.open {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }

  &--mask {
    background-color: rgba($color: #000000, $alpha: 0.7);
    width: 100%;
    height: 100%;
  }

  &--content {
    height: 90%;
    padding: 1rem;

    &-container {
      position: absolute;
      display: flex;
      flex-direction: column;
      background-color: #ffffff;
      width: 90vw;
      height: 90vh;
    }

    &-header {
      background-color: #000000;
      color: white;
      display: flex;
      justify-content: center;
      padding: 0.5rem;

      button {
        margin-left: auto;
        background-color: transparent;
        color: #ffffff;
        border: none;
        outline: none;
      }
    }
  }
}
