@import '../../../styles/variables/colors';

.category {
  display: flex;
  margin: 0 0.5rem;
  box-shadow: 0 1px 3px 0 rgba(136,136,136,.19);

  a {
    text-decoration: none;
  }

  &--image {
    width: 180px;
  }

  &--name {
    margin: 0.5rem;
    color: $bright-lilac;
    font-weight: 400;
    text-align: center;
  }
}