$sonic-silver: #797878;
$oxford-blue: #03254e;
$alice-blue: #e7f0ff;
$cultured: #f5f5f5;
$bright-lilac: #d899ff;
$french-violet: #8a00e0;
$vivid-violet: #a91fff;
$heliotrope: #c870ff;
$transparent-white5: rgba(255, 255, 255, 0.5);
$transparent-white7: rgba(255, 255, 255, 0.7);
