@import '../../../styles/variables/colors';

.product {
  display: flex;
  flex-direction: column;

  &--link {
    color: $heliotrope;
    text-align: center;
    text-decoration: none;
  }

  &--image {
    border-radius: 5px;
    width: 170px;
  }

  &--request {
    background-color: $heliotrope;
    border-bottom: 4px solid $heliotrope;
    color: $alice-blue;
    font-size: 0.8rem;
    font-weight: 600;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      background-color: $bright-lilac;
    }
  }

  &--price {
    margin: 0.5rem;

    &:before {
      content: '$';
    }
  }

  &--name {
    text-transform: uppercase;
    font-weight: 400;
    margin: 0.5rem;
  }
}
