.hero-add {
  height: 100%;

  &--image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%;

    img {
      height: 100%;
    }
  }

  &--actions {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
  }
}
