@import '../../../styles/variables/colors';

.navigation {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  padding-bottom: 1rem;
  background-color: $cultured;

  &--logo {
    width: 100%;
    text-align: center;
    padding: 1rem;

    img {
      width: 100px;
    }
  }

  &--links {
    display: flex;
    justify-content: space-evenly;
  }

  &--link {
    color: $sonic-silver;
    text-decoration: none;

    &:hover {
      color: $bright-lilac;
    }

    &__active {
      color: $bright-lilac;
    }
  }
}
